@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading {
  font-family: Inter;
  font-size: 42px;
  font-weight: 700;
  line-height: 50.83px;
  text-align: center;
}

.paragraph {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: center;
}


.submit-button {
  width: 100%;
  height: 60px;
  border-radius: 40px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: left;

  @apply bg-primary-900 flex justify-center items-center text-primary-50 
}

input {
  width: 100%;
  height: 60px;
  border-radius: 40px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  background: #D9D9D91A;
  @apply  border-2 border-solid border-primary-400 flex justify-center items-center px-4 text-primary-200 placeholder-primary-100 
}

select {
  width: 100%;
  height: 60px;
  border-radius: 40px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  background: #D9D9D91A;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('/icons/select-down.png');
  background-repeat: no-repeat, repeat;
  background-position: right 2em top 50%, 0 0;
  background-size: 1em auto, 100%;

  @apply px-4 border-2 border-solid border-primary-400 flex justify-center items-center text-primary-200 placeholder-primary-100 
}

/* For IE (thanks to @SaiManoj) */
select::-ms-expand {
  display: none;
}

.effective-number {
  .missing {
      @apply !relative w-full m-auto h-[1000px] border border-solid border-[#FF0101] rounded-3xl bg-[#FF0101] bg-opacity-5;

      .header-top {
          @apply absolute -top-4 left-10 py-2 px-4 rounded-3xl bg-[#FF0101]
      }

      .header-bottom {
          @apply absolute -bottom-4 right-10 py-2 px-4 rounded-3xl bg-[#FF0101]
      }
  }

  .avalable {
      @apply !relative w-full m-auto h-[1000px] border border-solid border-[#69F0AE] rounded-3xl bg-[#69F0AE] bg-opacity-5;

      .header-top {
          @apply absolute -top-4 left-10 py-2 px-4 rounded-3xl bg-[#69F0AE] text-primary-900
      }

      .header-bottom {
          @apply absolute -bottom-4 right-10 py-2 px-4 rounded-3xl bg-[#69F0AE] text-primary-900
      }
  }
}



